device:
  layer: onprem-demo-mydevice
  hostname: OnPremDemoNetwork-__VERSION__
  production: true
  wifipass: DigiLink 

image:
  layer: onprem-demo-myimage
  name: onprem-demo-network-__VERSION__

layer:
  login: login
  docker: docker
  network: network
  banner: login-banner

