device:
  layer: onprem-demo-mydevice
  hostname: OnPremDemoDHCP-__VERSION__
  production: true
  wifipass: DigiLink

image:
  layer: onprem-demo-myimage
  name: onprem-demo-dhcp-__VERSION__

layer:
  login: login
  docker: docker
  network: net-min
  banner: login-banner
  
