device:
  layer: onprem-demo-mydevice
  hostname: OnPremDemoNetwork-__VERSION__
  user1: digilock
  user1pass: Fo0bar!!
  production: false
  wifipass: DigiLink 

image:
  layer: onprem-demo-myimage
  name: onprem-demo-network-__VERSION__

layer:
  login: login
  docker: docker
  network: network
  banner: login-banner

