name: Build Images
on: 
  workflow_dispatch: {}
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo ./install_deps.sh

      - name: Run image generator
        run: |
          ./rpi-image-gen build -S ./digilock/onprem-demo-slim/ -c pi5-onprem-demo-dhcp.yaml
